doctype html
html(lang='en')
  head
  body
    h1 Hello World!
    p Test
    
    script(src='/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
